InputSpeedExamination/Service References/ServiceReference/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WebService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WebService">
      <s:element name="SayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDepartment">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMajorByDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMajorByDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMajorByDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateList">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEdu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEduResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEduResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientIP">
        <s:complexType />
      </s:element>
      <s:element name="GetClientIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExaminationGUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Major" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentMD5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExaminationGUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExaminationGUIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateExaminationStats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Stats" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Speed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Process" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorrectPercent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateExaminationStatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateExaminationStatsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateInterVal">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateInterValResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUpdateInterValResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllContent">
        <s:complexType />
      </s:element>
      <s:element name="GetAllContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllContentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExamRoomID">
        <s:complexType />
      </s:element>
      <s:element name="GetExamRoomIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExamRoomIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatchID">
        <s:complexType />
      </s:element>
      <s:element name="GetBatchIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBatchIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentByBatchID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentByBatchIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentByBatchIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFinallyScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Speed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Process" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorrectPercent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFinallyScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFinallyScoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloSoapIn">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDepartment" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetMajorByDepartment" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetMajorByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateList" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateListResponse" />
  </wsdl:message>
  <wsdl:message name="GetEduSoapIn">
    <wsdl:part name="parameters" element="tns:GetEdu" />
  </wsdl:message>
  <wsdl:message name="GetEduSoapOut">
    <wsdl:part name="parameters" element="tns:GetEduResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientIPSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientIP" />
  </wsdl:message>
  <wsdl:message name="GetClientIPSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientIPResponse" />
  </wsdl:message>
  <wsdl:message name="GetExaminationGUIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetExaminationGUID" />
  </wsdl:message>
  <wsdl:message name="GetExaminationGUIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetExaminationGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateExaminationStatsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateExaminationStats" />
  </wsdl:message>
  <wsdl:message name="UpdateExaminationStatsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateExaminationStatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInterValSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateInterVal" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInterValSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateInterValResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllContent" />
  </wsdl:message>
  <wsdl:message name="GetAllContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetExamRoomID" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetExamRoomIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetBatchIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetBatchID" />
  </wsdl:message>
  <wsdl:message name="GetBatchIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetBatchIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentByBatchID" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentByBatchIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFinallyScoreSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFinallyScore" />
  </wsdl:message>
  <wsdl:message name="UpdateFinallyScoreSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFinallyScoreResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpGetIn">
    <wsdl:part name="data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentHttpGetIn" />
  <wsdl:message name="GetAllDepartmentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpGetIn">
    <wsdl:part name="DepartmentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListHttpGetIn" />
  <wsdl:message name="GetUpdateListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetClientIPHttpGetIn" />
  <wsdl:message name="GetClientIPHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetExaminationGUIDHttpGetIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="Department" type="s:string" />
    <wsdl:part name="Major" type="s:string" />
    <wsdl:part name="Class" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="ContentMD5" type="s:string" />
    <wsdl:part name="ContentTitle" type="s:string" />
    <wsdl:part name="BatchID" type="s:string" />
    <wsdl:part name="RoomID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetExaminationGUIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateExaminationStatsHttpGetIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="Stats" type="s:string" />
    <wsdl:part name="Speed" type="s:string" />
    <wsdl:part name="Process" type="s:string" />
    <wsdl:part name="CorrectPercent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateExaminationStatsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInterValHttpGetIn" />
  <wsdl:message name="GetUpdateInterValHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetAllContentHttpGetIn" />
  <wsdl:message name="GetAllContentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomIDHttpGetIn" />
  <wsdl:message name="GetExamRoomIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBatchIDHttpGetIn" />
  <wsdl:message name="GetBatchIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UpdateFinallyScoreHttpGetIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="Speed" type="s:string" />
    <wsdl:part name="Process" type="s:string" />
    <wsdl:part name="CorrectPercent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFinallyScoreHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpPostIn">
    <wsdl:part name="data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentHttpPostIn" />
  <wsdl:message name="GetAllDepartmentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpPostIn">
    <wsdl:part name="DepartmentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListHttpPostIn" />
  <wsdl:message name="GetUpdateListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetClientIPHttpPostIn" />
  <wsdl:message name="GetClientIPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetExaminationGUIDHttpPostIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="Department" type="s:string" />
    <wsdl:part name="Major" type="s:string" />
    <wsdl:part name="Class" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="ContentMD5" type="s:string" />
    <wsdl:part name="ContentTitle" type="s:string" />
    <wsdl:part name="BatchID" type="s:string" />
    <wsdl:part name="RoomID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetExaminationGUIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateExaminationStatsHttpPostIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="Stats" type="s:string" />
    <wsdl:part name="Speed" type="s:string" />
    <wsdl:part name="Process" type="s:string" />
    <wsdl:part name="CorrectPercent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateExaminationStatsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInterValHttpPostIn" />
  <wsdl:message name="GetUpdateInterValHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetAllContentHttpPostIn" />
  <wsdl:message name="GetAllContentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomIDHttpPostIn" />
  <wsdl:message name="GetExamRoomIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBatchIDHttpPostIn" />
  <wsdl:message name="GetBatchIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UpdateFinallyScoreHttpPostIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="Speed" type="s:string" />
    <wsdl:part name="Process" type="s:string" />
    <wsdl:part name="CorrectPercent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFinallyScoreHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ClientServiceSoap">
    <wsdl:operation name="SayHello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试服务器连接</wsdl:documentation>
      <wsdl:input message="tns:SayHelloSoapIn" />
      <wsdl:output message="tns:SayHelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部系</wsdl:documentation>
      <wsdl:input message="tns:GetAllDepartmentSoapIn" />
      <wsdl:output message="tns:GetAllDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据 DepartmentID 获取下属专业</wsdl:documentation>
      <wsdl:input message="tns:GetMajorByDepartmentSoapIn" />
      <wsdl:output message="tns:GetMajorByDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新列表</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateListSoapIn" />
      <wsdl:output message="tns:GetUpdateListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取课表</wsdl:documentation>
      <wsdl:input message="tns:GetEduSoapIn" />
      <wsdl:output message="tns:GetEduSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取教务信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取客户端IP</wsdl:documentation>
      <wsdl:input message="tns:GetClientIPSoapIn" />
      <wsdl:output message="tns:GetClientIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取一个测试GUID</wsdl:documentation>
      <wsdl:input message="tns:GetExaminationGUIDSoapIn" />
      <wsdl:output message="tns:GetExaminationGUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新状态信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateExaminationStatsSoapIn" />
      <wsdl:output message="tns:UpdateExaminationStatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新间隔</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateInterValSoapIn" />
      <wsdl:output message="tns:GetUpdateInterValSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部内容</wsdl:documentation>
      <wsdl:input message="tns:GetAllContentSoapIn" />
      <wsdl:output message="tns:GetAllContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取考场号</wsdl:documentation>
      <wsdl:input message="tns:GetExamRoomIDSoapIn" />
      <wsdl:output message="tns:GetExamRoomIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取批次号</wsdl:documentation>
      <wsdl:input message="tns:GetBatchIDSoapIn" />
      <wsdl:output message="tns:GetBatchIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据考场ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByBatchIDSoapIn" />
      <wsdl:output message="tns:GetContentByBatchIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交最终成绩</wsdl:documentation>
      <wsdl:input message="tns:UpdateFinallyScoreSoapIn" />
      <wsdl:output message="tns:UpdateFinallyScoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientServiceHttpGet">
    <wsdl:operation name="SayHello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试服务器连接</wsdl:documentation>
      <wsdl:input message="tns:SayHelloHttpGetIn" />
      <wsdl:output message="tns:SayHelloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部系</wsdl:documentation>
      <wsdl:input message="tns:GetAllDepartmentHttpGetIn" />
      <wsdl:output message="tns:GetAllDepartmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据 DepartmentID 获取下属专业</wsdl:documentation>
      <wsdl:input message="tns:GetMajorByDepartmentHttpGetIn" />
      <wsdl:output message="tns:GetMajorByDepartmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新列表</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateListHttpGetIn" />
      <wsdl:output message="tns:GetUpdateListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取课表</wsdl:documentation>
      <wsdl:input message="tns:GetEduHttpGetIn" />
      <wsdl:output message="tns:GetEduHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取教务信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取客户端IP</wsdl:documentation>
      <wsdl:input message="tns:GetClientIPHttpGetIn" />
      <wsdl:output message="tns:GetClientIPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取一个测试GUID</wsdl:documentation>
      <wsdl:input message="tns:GetExaminationGUIDHttpGetIn" />
      <wsdl:output message="tns:GetExaminationGUIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新状态信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateExaminationStatsHttpGetIn" />
      <wsdl:output message="tns:UpdateExaminationStatsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新间隔</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateInterValHttpGetIn" />
      <wsdl:output message="tns:GetUpdateInterValHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部内容</wsdl:documentation>
      <wsdl:input message="tns:GetAllContentHttpGetIn" />
      <wsdl:output message="tns:GetAllContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取考场号</wsdl:documentation>
      <wsdl:input message="tns:GetExamRoomIDHttpGetIn" />
      <wsdl:output message="tns:GetExamRoomIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取批次号</wsdl:documentation>
      <wsdl:input message="tns:GetBatchIDHttpGetIn" />
      <wsdl:output message="tns:GetBatchIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据考场ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByBatchIDHttpGetIn" />
      <wsdl:output message="tns:GetContentByBatchIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交最终成绩</wsdl:documentation>
      <wsdl:input message="tns:UpdateFinallyScoreHttpGetIn" />
      <wsdl:output message="tns:UpdateFinallyScoreHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientServiceHttpPost">
    <wsdl:operation name="SayHello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试服务器连接</wsdl:documentation>
      <wsdl:input message="tns:SayHelloHttpPostIn" />
      <wsdl:output message="tns:SayHelloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部系</wsdl:documentation>
      <wsdl:input message="tns:GetAllDepartmentHttpPostIn" />
      <wsdl:output message="tns:GetAllDepartmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据 DepartmentID 获取下属专业</wsdl:documentation>
      <wsdl:input message="tns:GetMajorByDepartmentHttpPostIn" />
      <wsdl:output message="tns:GetMajorByDepartmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新列表</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateListHttpPostIn" />
      <wsdl:output message="tns:GetUpdateListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取课表</wsdl:documentation>
      <wsdl:input message="tns:GetEduHttpPostIn" />
      <wsdl:output message="tns:GetEduHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取教务信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取客户端IP</wsdl:documentation>
      <wsdl:input message="tns:GetClientIPHttpPostIn" />
      <wsdl:output message="tns:GetClientIPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取一个测试GUID</wsdl:documentation>
      <wsdl:input message="tns:GetExaminationGUIDHttpPostIn" />
      <wsdl:output message="tns:GetExaminationGUIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新状态信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateExaminationStatsHttpPostIn" />
      <wsdl:output message="tns:UpdateExaminationStatsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新间隔</wsdl:documentation>
      <wsdl:input message="tns:GetUpdateInterValHttpPostIn" />
      <wsdl:output message="tns:GetUpdateInterValHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部内容</wsdl:documentation>
      <wsdl:input message="tns:GetAllContentHttpPostIn" />
      <wsdl:output message="tns:GetAllContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取考场号</wsdl:documentation>
      <wsdl:input message="tns:GetExamRoomIDHttpPostIn" />
      <wsdl:output message="tns:GetExamRoomIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取批次号</wsdl:documentation>
      <wsdl:input message="tns:GetBatchIDHttpPostIn" />
      <wsdl:output message="tns:GetBatchIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据考场ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByBatchIDHttpPostIn" />
      <wsdl:output message="tns:GetContentByBatchIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交最终成绩</wsdl:documentation>
      <wsdl:input message="tns:UpdateFinallyScoreHttpPostIn" />
      <wsdl:output message="tns:UpdateFinallyScoreHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServiceSoap" type="tns:ClientServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="WebService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <soap:operation soapAction="WebService/GetAllDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <soap:operation soapAction="WebService/GetMajorByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <soap:operation soapAction="WebService/GetUpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <soap:operation soapAction="WebService/GetEdu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="WebService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <soap:operation soapAction="WebService/GetClientIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <soap:operation soapAction="WebService/GetExaminationGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <soap:operation soapAction="WebService/UpdateExaminationStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <soap:operation soapAction="WebService/GetUpdateInterVal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <soap:operation soapAction="WebService/GetAllContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <soap:operation soapAction="WebService/GetExamRoomID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <soap:operation soapAction="WebService/GetBatchID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <soap:operation soapAction="WebService/GetContentByBatchID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <soap:operation soapAction="WebService/UpdateFinallyScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientServiceSoap12" type="tns:ClientServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="WebService/SayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <soap12:operation soapAction="WebService/GetAllDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <soap12:operation soapAction="WebService/GetMajorByDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <soap12:operation soapAction="WebService/GetUpdateList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <soap12:operation soapAction="WebService/GetEdu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="WebService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <soap12:operation soapAction="WebService/GetClientIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <soap12:operation soapAction="WebService/GetExaminationGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <soap12:operation soapAction="WebService/UpdateExaminationStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <soap12:operation soapAction="WebService/GetUpdateInterVal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <soap12:operation soapAction="WebService/GetAllContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <soap12:operation soapAction="WebService/GetExamRoomID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <soap12:operation soapAction="WebService/GetBatchID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <soap12:operation soapAction="WebService/GetContentByBatchID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <soap12:operation soapAction="WebService/UpdateFinallyScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientServiceHttpGet" type="tns:ClientServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SayHello">
      <http:operation location="/SayHello" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <http:operation location="/GetAllDepartment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <http:operation location="/GetMajorByDepartment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <http:operation location="/GetUpdateList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <http:operation location="/GetEdu" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <http:operation location="/GetClientIP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <http:operation location="/GetExaminationGUID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <http:operation location="/UpdateExaminationStats" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <http:operation location="/GetUpdateInterVal" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <http:operation location="/GetAllContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <http:operation location="/GetExamRoomID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <http:operation location="/GetBatchID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <http:operation location="/GetContentByBatchID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <http:operation location="/UpdateFinallyScore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientServiceHttpPost" type="tns:ClientServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SayHello">
      <http:operation location="/SayHello" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <http:operation location="/GetAllDepartment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <http:operation location="/GetMajorByDepartment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <http:operation location="/GetUpdateList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <http:operation location="/GetEdu" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientIP">
      <http:operation location="/GetClientIP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExaminationGUID">
      <http:operation location="/GetExaminationGUID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExaminationStats">
      <http:operation location="/UpdateExaminationStats" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInterVal">
      <http:operation location="/GetUpdateInterVal" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <http:operation location="/GetAllContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomID">
      <http:operation location="/GetExamRoomID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchID">
      <http:operation location="/GetBatchID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <http:operation location="/GetContentByBatchID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFinallyScore">
      <http:operation location="/UpdateFinallyScore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="ClientServiceSoap" binding="tns:ClientServiceSoap">
      <soap:address location="http://keyboard.hcs.ac.cn/ClientService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientServiceSoap12" binding="tns:ClientServiceSoap12">
      <soap12:address location="http://keyboard.hcs.ac.cn/ClientService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientServiceHttpGet" binding="tns:ClientServiceHttpGet">
      <http:address location="http://keyboard.hcs.ac.cn/ClientService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientServiceHttpPost" binding="tns:ClientServiceHttpPost">
      <http:address location="http://keyboard.hcs.ac.cn/ClientService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>