InputSpeedExamination/Service References/ServiceReference/HelloServer1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WebService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WebService">
      <s:element name="SayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDepartment">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMajorByDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMajorByDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMajorByDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateList">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEdu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEduResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEduResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloSoapIn">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDepartment" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetMajorByDepartment" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetMajorByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateList" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateListResponse" />
  </wsdl:message>
  <wsdl:message name="GetEduSoapIn">
    <wsdl:part name="parameters" element="tns:GetEdu" />
  </wsdl:message>
  <wsdl:message name="GetEduSoapOut">
    <wsdl:part name="parameters" element="tns:GetEduResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpGetIn">
    <wsdl:part name="data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentHttpGetIn" />
  <wsdl:message name="GetAllDepartmentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpGetIn">
    <wsdl:part name="DepartmentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListHttpGetIn" />
  <wsdl:message name="GetUpdateListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpPostIn">
    <wsdl:part name="data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentHttpPostIn" />
  <wsdl:message name="GetAllDepartmentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpPostIn">
    <wsdl:part name="DepartmentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMajorByDepartmentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUpdateListHttpPostIn" />
  <wsdl:message name="GetUpdateListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEduHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="HelloServerSoap">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloSoapIn" />
      <wsdl:output message="tns:SayHelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:input message="tns:GetAllDepartmentSoapIn" />
      <wsdl:output message="tns:GetAllDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <wsdl:input message="tns:GetMajorByDepartmentSoapIn" />
      <wsdl:output message="tns:GetMajorByDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <wsdl:input message="tns:GetUpdateListSoapIn" />
      <wsdl:output message="tns:GetUpdateListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <wsdl:input message="tns:GetEduSoapIn" />
      <wsdl:output message="tns:GetEduSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HelloServerHttpGet">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloHttpGetIn" />
      <wsdl:output message="tns:SayHelloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:input message="tns:GetAllDepartmentHttpGetIn" />
      <wsdl:output message="tns:GetAllDepartmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <wsdl:input message="tns:GetMajorByDepartmentHttpGetIn" />
      <wsdl:output message="tns:GetMajorByDepartmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <wsdl:input message="tns:GetUpdateListHttpGetIn" />
      <wsdl:output message="tns:GetUpdateListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <wsdl:input message="tns:GetEduHttpGetIn" />
      <wsdl:output message="tns:GetEduHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HelloServerHttpPost">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloHttpPostIn" />
      <wsdl:output message="tns:SayHelloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:input message="tns:GetAllDepartmentHttpPostIn" />
      <wsdl:output message="tns:GetAllDepartmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <wsdl:input message="tns:GetMajorByDepartmentHttpPostIn" />
      <wsdl:output message="tns:GetMajorByDepartmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <wsdl:input message="tns:GetUpdateListHttpPostIn" />
      <wsdl:output message="tns:GetUpdateListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <wsdl:input message="tns:GetEduHttpPostIn" />
      <wsdl:output message="tns:GetEduHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServerSoap" type="tns:HelloServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="WebService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <soap:operation soapAction="WebService/GetAllDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <soap:operation soapAction="WebService/GetMajorByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <soap:operation soapAction="WebService/GetUpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <soap:operation soapAction="WebService/GetEdu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="WebService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelloServerSoap12" type="tns:HelloServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="WebService/SayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <soap12:operation soapAction="WebService/GetAllDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <soap12:operation soapAction="WebService/GetMajorByDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <soap12:operation soapAction="WebService/GetUpdateList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <soap12:operation soapAction="WebService/GetEdu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="WebService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelloServerHttpGet" type="tns:HelloServerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SayHello">
      <http:operation location="/SayHello" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <http:operation location="/GetAllDepartment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <http:operation location="/GetMajorByDepartment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <http:operation location="/GetUpdateList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <http:operation location="/GetEdu" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelloServerHttpPost" type="tns:HelloServerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SayHello">
      <http:operation location="/SayHello" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <http:operation location="/GetAllDepartment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByDepartment">
      <http:operation location="/GetMajorByDepartment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateList">
      <http:operation location="/GetUpdateList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEdu">
      <http:operation location="/GetEdu" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloServer">
    <wsdl:port name="HelloServerSoap" binding="tns:HelloServerSoap">
      <soap:address location="http://keyboard.hcs.ac.cn/HelloServer.asmx" />
    </wsdl:port>
    <wsdl:port name="HelloServerSoap12" binding="tns:HelloServerSoap12">
      <soap12:address location="http://keyboard.hcs.ac.cn/HelloServer.asmx" />
    </wsdl:port>
    <wsdl:port name="HelloServerHttpGet" binding="tns:HelloServerHttpGet">
      <http:address location="http://keyboard.hcs.ac.cn/HelloServer.asmx" />
    </wsdl:port>
    <wsdl:port name="HelloServerHttpPost" binding="tns:HelloServerHttpPost">
      <http:address location="http://keyboard.hcs.ac.cn/HelloServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>