InputSpeedExamination_Controller/Service References/ServiceReference/ControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WebService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WebService">
      <s:element name="GetStats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExamRoomList">
        <s:complexType />
      </s:element>
      <s:element name="GetExamRoomListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExamRoomListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewExamRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoomTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IncludeIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewExamRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewExamRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditExamRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoomID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IncludeIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditExamRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditExamRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteExamRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoomID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteExamRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteExamRoomResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllContent">
        <s:complexType />
      </s:element>
      <s:element name="GetAllContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllContentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteContentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentByPaperID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncludePaper" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentByPaperIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentByPaperIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentByBatchID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentByBatchIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentByBatchIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatchList">
        <s:complexType />
      </s:element>
      <s:element name="GetBatchListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBatchListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IncludePaper" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StopBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IncludePaper" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStats" />
  </wsdl:message>
  <wsdl:message name="GetStatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomListSoapIn">
    <wsdl:part name="parameters" element="tns:GetExamRoomList" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomListSoapOut">
    <wsdl:part name="parameters" element="tns:GetExamRoomListResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewExamRoomSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewExamRoom" />
  </wsdl:message>
  <wsdl:message name="CreateNewExamRoomSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewExamRoomResponse" />
  </wsdl:message>
  <wsdl:message name="EditExamRoomSoapIn">
    <wsdl:part name="parameters" element="tns:EditExamRoom" />
  </wsdl:message>
  <wsdl:message name="EditExamRoomSoapOut">
    <wsdl:part name="parameters" element="tns:EditExamRoomResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteExamRoomSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteExamRoom" />
  </wsdl:message>
  <wsdl:message name="DeleteExamRoomSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteExamRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllContent" />
  </wsdl:message>
  <wsdl:message name="GetAllContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllContentResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewContentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewContent" />
  </wsdl:message>
  <wsdl:message name="CreateNewContentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewContentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContent" />
  </wsdl:message>
  <wsdl:message name="UpdateContentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteContentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContent" />
  </wsdl:message>
  <wsdl:message name="DeleteContentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentByPaperIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentByPaperID" />
  </wsdl:message>
  <wsdl:message name="GetContentByPaperIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentByPaperIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentByBatchID" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentByBatchIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetBatchListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBatchList" />
  </wsdl:message>
  <wsdl:message name="GetBatchListSoapOut">
    <wsdl:part name="parameters" element="tns:GetBatchListResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewBatch" />
  </wsdl:message>
  <wsdl:message name="CreateNewBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewBatchResponse" />
  </wsdl:message>
  <wsdl:message name="StartBatchSoapIn">
    <wsdl:part name="parameters" element="tns:StartBatch" />
  </wsdl:message>
  <wsdl:message name="StartBatchSoapOut">
    <wsdl:part name="parameters" element="tns:StartBatchResponse" />
  </wsdl:message>
  <wsdl:message name="StopBatchSoapIn">
    <wsdl:part name="parameters" element="tns:StopBatch" />
  </wsdl:message>
  <wsdl:message name="StopBatchSoapOut">
    <wsdl:part name="parameters" element="tns:StopBatchResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBatchSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBatch" />
  </wsdl:message>
  <wsdl:message name="DeleteBatchSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBatchResponse" />
  </wsdl:message>
  <wsdl:message name="EditBatchSoapIn">
    <wsdl:part name="parameters" element="tns:EditBatch" />
  </wsdl:message>
  <wsdl:message name="EditBatchSoapOut">
    <wsdl:part name="parameters" element="tns:EditBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatsHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
    <wsdl:part name="RoomID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStatsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomListHttpGetIn" />
  <wsdl:message name="GetExamRoomListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CreateNewExamRoomHttpGetIn">
    <wsdl:part name="RoomTitle" type="s:string" />
    <wsdl:part name="IncludeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewExamRoomHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EditExamRoomHttpGetIn">
    <wsdl:part name="RoomID" type="s:string" />
    <wsdl:part name="RoomTitle" type="s:string" />
    <wsdl:part name="IncludeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditExamRoomHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteExamRoomHttpGetIn">
    <wsdl:part name="RoomID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteExamRoomHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetAllContentHttpGetIn" />
  <wsdl:message name="GetAllContentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CreateNewContentHttpGetIn">
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewContentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateContentHttpGetIn">
    <wsdl:part name="ContentID" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateContentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpGetIn">
    <wsdl:part name="ContentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetContentByPaperIDHttpGetIn">
    <wsdl:part name="IncludePaper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByPaperIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetBatchListHttpGetIn" />
  <wsdl:message name="GetBatchListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CreateNewBatchHttpGetIn">
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Remark" type="s:string" />
    <wsdl:part name="IncludePaper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewBatchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StartBatchHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartBatchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StopBatchHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StopBatchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteBatchHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteBatchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EditBatchHttpGetIn">
    <wsdl:part name="BatchID" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Remark" type="s:string" />
    <wsdl:part name="IncludePaper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditBatchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStatsHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
    <wsdl:part name="RoomID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStatsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetExamRoomListHttpPostIn" />
  <wsdl:message name="GetExamRoomListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CreateNewExamRoomHttpPostIn">
    <wsdl:part name="RoomTitle" type="s:string" />
    <wsdl:part name="IncludeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewExamRoomHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EditExamRoomHttpPostIn">
    <wsdl:part name="RoomID" type="s:string" />
    <wsdl:part name="RoomTitle" type="s:string" />
    <wsdl:part name="IncludeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditExamRoomHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteExamRoomHttpPostIn">
    <wsdl:part name="RoomID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteExamRoomHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetAllContentHttpPostIn" />
  <wsdl:message name="GetAllContentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CreateNewContentHttpPostIn">
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewContentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateContentHttpPostIn">
    <wsdl:part name="ContentID" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateContentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpPostIn">
    <wsdl:part name="ContentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetContentByPaperIDHttpPostIn">
    <wsdl:part name="IncludePaper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByPaperIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentByBatchIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetBatchListHttpPostIn" />
  <wsdl:message name="GetBatchListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CreateNewBatchHttpPostIn">
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Remark" type="s:string" />
    <wsdl:part name="IncludePaper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateNewBatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StartBatchHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartBatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StopBatchHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StopBatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteBatchHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteBatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EditBatchHttpPostIn">
    <wsdl:part name="BatchID" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Remark" type="s:string" />
    <wsdl:part name="IncludePaper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EditBatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ControllerServiceSoap">
    <wsdl:operation name="GetStats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定考场状态表</wsdl:documentation>
      <wsdl:input message="tns:GetStatsSoapIn" />
      <wsdl:output message="tns:GetStatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取考场列表</wsdl:documentation>
      <wsdl:input message="tns:GetExamRoomListSoapIn" />
      <wsdl:output message="tns:GetExamRoomListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新考场</wsdl:documentation>
      <wsdl:input message="tns:CreateNewExamRoomSoapIn" />
      <wsdl:output message="tns:CreateNewExamRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">编辑考场</wsdl:documentation>
      <wsdl:input message="tns:EditExamRoomSoapIn" />
      <wsdl:output message="tns:EditExamRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除指定考场</wsdl:documentation>
      <wsdl:input message="tns:DeleteExamRoomSoapIn" />
      <wsdl:output message="tns:DeleteExamRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部内容</wsdl:documentation>
      <wsdl:input message="tns:GetAllContentSoapIn" />
      <wsdl:output message="tns:GetAllContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加新内容</wsdl:documentation>
      <wsdl:input message="tns:CreateNewContentSoapIn" />
      <wsdl:output message="tns:CreateNewContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新内容</wsdl:documentation>
      <wsdl:input message="tns:UpdateContentSoapIn" />
      <wsdl:output message="tns:UpdateContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除指定内容</wsdl:documentation>
      <wsdl:input message="tns:DeleteContentSoapIn" />
      <wsdl:output message="tns:DeleteContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据内容ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByPaperIDSoapIn" />
      <wsdl:output message="tns:GetContentByPaperIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据批次ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByBatchIDSoapIn" />
      <wsdl:output message="tns:GetContentByBatchIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取批次列表</wsdl:documentation>
      <wsdl:input message="tns:GetBatchListSoapIn" />
      <wsdl:output message="tns:GetBatchListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新批次</wsdl:documentation>
      <wsdl:input message="tns:CreateNewBatchSoapIn" />
      <wsdl:output message="tns:CreateNewBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">开启一个批次</wsdl:documentation>
      <wsdl:input message="tns:StartBatchSoapIn" />
      <wsdl:output message="tns:StartBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">终止一个批次</wsdl:documentation>
      <wsdl:input message="tns:StopBatchSoapIn" />
      <wsdl:output message="tns:StopBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除一个批次</wsdl:documentation>
      <wsdl:input message="tns:DeleteBatchSoapIn" />
      <wsdl:output message="tns:DeleteBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">编辑一个批次</wsdl:documentation>
      <wsdl:input message="tns:EditBatchSoapIn" />
      <wsdl:output message="tns:EditBatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControllerServiceHttpGet">
    <wsdl:operation name="GetStats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定考场状态表</wsdl:documentation>
      <wsdl:input message="tns:GetStatsHttpGetIn" />
      <wsdl:output message="tns:GetStatsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取考场列表</wsdl:documentation>
      <wsdl:input message="tns:GetExamRoomListHttpGetIn" />
      <wsdl:output message="tns:GetExamRoomListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新考场</wsdl:documentation>
      <wsdl:input message="tns:CreateNewExamRoomHttpGetIn" />
      <wsdl:output message="tns:CreateNewExamRoomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">编辑考场</wsdl:documentation>
      <wsdl:input message="tns:EditExamRoomHttpGetIn" />
      <wsdl:output message="tns:EditExamRoomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除指定考场</wsdl:documentation>
      <wsdl:input message="tns:DeleteExamRoomHttpGetIn" />
      <wsdl:output message="tns:DeleteExamRoomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部内容</wsdl:documentation>
      <wsdl:input message="tns:GetAllContentHttpGetIn" />
      <wsdl:output message="tns:GetAllContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加新内容</wsdl:documentation>
      <wsdl:input message="tns:CreateNewContentHttpGetIn" />
      <wsdl:output message="tns:CreateNewContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新内容</wsdl:documentation>
      <wsdl:input message="tns:UpdateContentHttpGetIn" />
      <wsdl:output message="tns:UpdateContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除指定内容</wsdl:documentation>
      <wsdl:input message="tns:DeleteContentHttpGetIn" />
      <wsdl:output message="tns:DeleteContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据内容ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByPaperIDHttpGetIn" />
      <wsdl:output message="tns:GetContentByPaperIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据批次ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByBatchIDHttpGetIn" />
      <wsdl:output message="tns:GetContentByBatchIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取批次列表</wsdl:documentation>
      <wsdl:input message="tns:GetBatchListHttpGetIn" />
      <wsdl:output message="tns:GetBatchListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新批次</wsdl:documentation>
      <wsdl:input message="tns:CreateNewBatchHttpGetIn" />
      <wsdl:output message="tns:CreateNewBatchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">开启一个批次</wsdl:documentation>
      <wsdl:input message="tns:StartBatchHttpGetIn" />
      <wsdl:output message="tns:StartBatchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">终止一个批次</wsdl:documentation>
      <wsdl:input message="tns:StopBatchHttpGetIn" />
      <wsdl:output message="tns:StopBatchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除一个批次</wsdl:documentation>
      <wsdl:input message="tns:DeleteBatchHttpGetIn" />
      <wsdl:output message="tns:DeleteBatchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">编辑一个批次</wsdl:documentation>
      <wsdl:input message="tns:EditBatchHttpGetIn" />
      <wsdl:output message="tns:EditBatchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControllerServiceHttpPost">
    <wsdl:operation name="GetStats">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取指定考场状态表</wsdl:documentation>
      <wsdl:input message="tns:GetStatsHttpPostIn" />
      <wsdl:output message="tns:GetStatsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取考场列表</wsdl:documentation>
      <wsdl:input message="tns:GetExamRoomListHttpPostIn" />
      <wsdl:output message="tns:GetExamRoomListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新考场</wsdl:documentation>
      <wsdl:input message="tns:CreateNewExamRoomHttpPostIn" />
      <wsdl:output message="tns:CreateNewExamRoomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">编辑考场</wsdl:documentation>
      <wsdl:input message="tns:EditExamRoomHttpPostIn" />
      <wsdl:output message="tns:EditExamRoomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除指定考场</wsdl:documentation>
      <wsdl:input message="tns:DeleteExamRoomHttpPostIn" />
      <wsdl:output message="tns:DeleteExamRoomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取全部内容</wsdl:documentation>
      <wsdl:input message="tns:GetAllContentHttpPostIn" />
      <wsdl:output message="tns:GetAllContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加新内容</wsdl:documentation>
      <wsdl:input message="tns:CreateNewContentHttpPostIn" />
      <wsdl:output message="tns:CreateNewContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新内容</wsdl:documentation>
      <wsdl:input message="tns:UpdateContentHttpPostIn" />
      <wsdl:output message="tns:UpdateContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除指定内容</wsdl:documentation>
      <wsdl:input message="tns:DeleteContentHttpPostIn" />
      <wsdl:output message="tns:DeleteContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据内容ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByPaperIDHttpPostIn" />
      <wsdl:output message="tns:GetContentByPaperIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据批次ID获取内容</wsdl:documentation>
      <wsdl:input message="tns:GetContentByBatchIDHttpPostIn" />
      <wsdl:output message="tns:GetContentByBatchIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取批次列表</wsdl:documentation>
      <wsdl:input message="tns:GetBatchListHttpPostIn" />
      <wsdl:output message="tns:GetBatchListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建新批次</wsdl:documentation>
      <wsdl:input message="tns:CreateNewBatchHttpPostIn" />
      <wsdl:output message="tns:CreateNewBatchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">开启一个批次</wsdl:documentation>
      <wsdl:input message="tns:StartBatchHttpPostIn" />
      <wsdl:output message="tns:StartBatchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">终止一个批次</wsdl:documentation>
      <wsdl:input message="tns:StopBatchHttpPostIn" />
      <wsdl:output message="tns:StopBatchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除一个批次</wsdl:documentation>
      <wsdl:input message="tns:DeleteBatchHttpPostIn" />
      <wsdl:output message="tns:DeleteBatchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">编辑一个批次</wsdl:documentation>
      <wsdl:input message="tns:EditBatchHttpPostIn" />
      <wsdl:output message="tns:EditBatchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControllerServiceSoap" type="tns:ControllerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStats">
      <soap:operation soapAction="WebService/GetStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <soap:operation soapAction="WebService/GetExamRoomList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <soap:operation soapAction="WebService/CreateNewExamRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <soap:operation soapAction="WebService/EditExamRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <soap:operation soapAction="WebService/DeleteExamRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <soap:operation soapAction="WebService/GetAllContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <soap:operation soapAction="WebService/CreateNewContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <soap:operation soapAction="WebService/UpdateContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <soap:operation soapAction="WebService/DeleteContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <soap:operation soapAction="WebService/GetContentByPaperID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <soap:operation soapAction="WebService/GetContentByBatchID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <soap:operation soapAction="WebService/GetBatchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <soap:operation soapAction="WebService/CreateNewBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <soap:operation soapAction="WebService/StartBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <soap:operation soapAction="WebService/StopBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <soap:operation soapAction="WebService/DeleteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <soap:operation soapAction="WebService/EditBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControllerServiceSoap12" type="tns:ControllerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStats">
      <soap12:operation soapAction="WebService/GetStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <soap12:operation soapAction="WebService/GetExamRoomList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <soap12:operation soapAction="WebService/CreateNewExamRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <soap12:operation soapAction="WebService/EditExamRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <soap12:operation soapAction="WebService/DeleteExamRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <soap12:operation soapAction="WebService/GetAllContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <soap12:operation soapAction="WebService/CreateNewContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <soap12:operation soapAction="WebService/UpdateContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <soap12:operation soapAction="WebService/DeleteContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <soap12:operation soapAction="WebService/GetContentByPaperID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <soap12:operation soapAction="WebService/GetContentByBatchID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <soap12:operation soapAction="WebService/GetBatchList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <soap12:operation soapAction="WebService/CreateNewBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <soap12:operation soapAction="WebService/StartBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <soap12:operation soapAction="WebService/StopBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <soap12:operation soapAction="WebService/DeleteBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <soap12:operation soapAction="WebService/EditBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControllerServiceHttpGet" type="tns:ControllerServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetStats">
      <http:operation location="/GetStats" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <http:operation location="/GetExamRoomList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <http:operation location="/CreateNewExamRoom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <http:operation location="/EditExamRoom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <http:operation location="/DeleteExamRoom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <http:operation location="/GetAllContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <http:operation location="/CreateNewContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <http:operation location="/UpdateContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <http:operation location="/DeleteContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <http:operation location="/GetContentByPaperID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <http:operation location="/GetContentByBatchID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <http:operation location="/GetBatchList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <http:operation location="/CreateNewBatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <http:operation location="/StartBatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <http:operation location="/StopBatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <http:operation location="/DeleteBatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <http:operation location="/EditBatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControllerServiceHttpPost" type="tns:ControllerServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetStats">
      <http:operation location="/GetStats" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamRoomList">
      <http:operation location="/GetExamRoomList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewExamRoom">
      <http:operation location="/CreateNewExamRoom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExamRoom">
      <http:operation location="/EditExamRoom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExamRoom">
      <http:operation location="/DeleteExamRoom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContent">
      <http:operation location="/GetAllContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewContent">
      <http:operation location="/CreateNewContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <http:operation location="/UpdateContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <http:operation location="/DeleteContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByPaperID">
      <http:operation location="/GetContentByPaperID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentByBatchID">
      <http:operation location="/GetContentByBatchID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchList">
      <http:operation location="/GetBatchList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBatch">
      <http:operation location="/CreateNewBatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBatch">
      <http:operation location="/StartBatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBatch">
      <http:operation location="/StopBatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <http:operation location="/DeleteBatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBatch">
      <http:operation location="/EditBatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControllerService">
    <wsdl:port name="ControllerServiceSoap" binding="tns:ControllerServiceSoap">
      <soap:address location="http://keyboard.hcs.ac.cn/ControllerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ControllerServiceSoap12" binding="tns:ControllerServiceSoap12">
      <soap12:address location="http://keyboard.hcs.ac.cn/ControllerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ControllerServiceHttpGet" binding="tns:ControllerServiceHttpGet">
      <http:address location="http://keyboard.hcs.ac.cn/ControllerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ControllerServiceHttpPost" binding="tns:ControllerServiceHttpPost">
      <http:address location="http://keyboard.hcs.ac.cn/ControllerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>